body {
    font-family: 'Open Sans', sans-serif;
}
h1 {
    text-align: center;
    font-weight: 600;
    font-size: 80px;
    color: #192b59;
}
a {
    text-decoration: none;
}
.nav {
    font-size: 12px;
    font-weight: 700;
    color: #6e7ea9;
    text-transform: uppercase;
}
.nav li {
    display: inline-block;
}
.nav a {
    color: #6e7ea9;
}
a {
    text-decoration: none;
}
.grid h2 {
    font-size: 40px;
    font-weight: 700;
    color: #192b59;
}
.grid h2 span {
    font-size: 14px;
    color: #1085e4;
    display: block;
}
.instrument li {
    display: inline-block;
}
.instrument h3 {
    font-size: 20px;
    font-weight: 600;
    color: #192b59;
    display: block;
}

.instrument a {
    font-size: 20px;
    font-weight: 600;
    color: #1085e4;
    display: block;
}
.instrument p {
    font-size: 16px;
    font-weight: 600;
    color: #7581a1;
    display: block;
}
.instrument h4 {
    font-size: 16px;
    font-weight: 700;
    color: #192b59;
}
body {
    font-family: 'OpenSans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #7581a1;
}


.btn-primary {
    background-color: #1085e4;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    border-radius: 30px;
    padding: 23px 42px;
    border: 0px solid #1085e4;
    letter-spacing: 2px;
}

.btn-secondary {
    background-color: #b7c2cc;
    color: rgb(49, 46, 46);
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    border-radius: 30px;
    padding: 20px 30px;
    border: 0px solid #b7c2cc;
}
.btn-free {
    font-weight: 400;
    font-size: 10px;
    padding: 25px 56px;
}

.btn-s {
    background-color: #1085e4;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    border-radius: 30px;
    padding: 20px 45px;
    border: 0px solid #1085e4;
    letter-spacing: 3.5px;
}

.btn-s1{
    background-color: #1085e4;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    border-radius: 30px;
    padding: 23px 45px;
    border: 0px solid #1085e4;
    letter-spacing: 1.8px;
}

.btn-s2{
    background-color: #1085e4;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    border-radius: 30px;
    padding: 23px 65px;
    border: 0px solid #1085e4;
    letter-spacing: 1.9px;
}

.btn-primary1 {
    background-color: #1085e4;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    border-radius: 30px;
    padding: 23px 42px;
    border: 0px solid #1085e4;
    letter-spacing: 2px;
}

.btn-s3{
    background-color: #1085e4;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    border-radius: 30px;
    padding: 23px 65px;
    border: 0px solid #1085e4;
    letter-spacing: 1.9px;
}

.btn-s4{
    background: rgba(0, 0, 0, 0);
    color: rgb(34, 33, 33);
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    border-radius: 30px;
    padding: 23px 65px;
    border: 0px solid #1085e4;
    letter-spacing: 1.9px;
    border: 2px solid rgb(40, 39, 39);
}